p, div, a, section, ul, li, img, span, body, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}


li {
    list-style-type: none;
}

.body {
    height: 100vh;
}

.wrap {
    background: url("../img/site.png");
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.wrap_light:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(219, 219, 219, 0.8) 0%, rgba(236, 232, 232, 0.5) 100%);
    background-blend-mode: unset;
    z-index: 1;
}


.popup {
    margin: 0 auto;
    background: url("../img/bg_pic.png");
    position: relative;
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    width: 960px;
    box-shadow: 0 10px 9px -5px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0 10px 9px -5px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0 10px 9px -5px rgba(0, 0, 0, 0.57);
    z-index: 2;
    height: 616px;
}

.popup__close, .popup__close:before {
    background: #333333;
    width: 2px;
    height: 13px;
}


.popup__close {
    position: absolute;
    top: 19px;
    right: 31px;
    transform: rotate(-45deg);
    cursor: pointer;
    z-index: 2;
}

.popup__close:before {
    transform: rotate(90deg);
    content: "";
    display: block;
}

.popup__close:hover, .popup__close:focus, .popup__close:hover:before, .popup__close:focus:before {
    background: #fff;
}

.popup__sidebar {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.popup__sidebar li {
    color: #777F82;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    position: relative;
    height: inherit;
    padding-top: 5px;
}

.popup__sidebar li:hover, .popup__sidebar li:focus {
    background: #339900;
}

.popup__sidebar li > p:first-child {
    color: #339900;
    font-size: 14px;
    line-height: 20px;
    margin-left: 15px;
    opacity: 0.5;
    font-family: Rubic, sans-serif;
}

.decorated:hover:after, .decorated:focus:after {
    background: #fff;
}

.popup__sidebar li > p {
    margin-left: 40px;
}

.popup__sidebar li > p, .slider__item p {
    color: #333333;
    font-weight: bold;
}

.popup__sidebar li > p {
    font-size: 16px;
    line-height: 24px;
}

.popup__sidebar li > p, .slider__item p {
    font-weight: normal;
    color: #777F82;
}

.popup__sidebar li > p:nth-child(2), .slider__item p:nth-child(2) {
    font-weight: bold;
    color: #333333;
    font-family: Rubic, sans-serif;
}

.popup__sidebar li:hover a, .popup__sidebar li:focus a, .popup__sidebar li:hover p, .popup__sidebar li:focus p {
    color: #FFFFFF;
}


.popup__sidebar li:not(:last-child):after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #EEF0F2;
    margin-top: 15px;
}

.popup__sidebar li:before {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #339900;
    position: absolute;
    top: 30px;
}

.popup__sidebar li:hover:before, .popup__sidebar li:focus:before {
    background: #FFFFFF;
}


.popup__main {
    margin: 0 auto;
    position: relative;
}

.slider {
    padding: 50px 80px 0;
}


.slider__item {
    background: #fff;
    position: relative;
    padding: 40px 30px 90px;
    width: 515px;
}

.slider__item p {
    margin-bottom: 30px;
    line-height: 24px;
}


.slider__item p:nth-child(2) {
    font-size: 24px;
    line-height: 32px;
    margin-right: 50px;
    margin-bottom: 17px;
}


.slider__item button {
    text-transform: uppercase;
    padding: 12px 50px;
    color: #FFFFFF;
    background: #339900;
    border: none;
    font-weight: bold;
    letter-spacing: 0.09em;
    cursor: pointer;
    outline: none;
    font-family: Roboto, sans-serif;
    line-height: 24px;
    font-size: 16px;
}

.slider__item button:hover, .slider__item button:focus {
    background: #2f8200;
}

.slider__item:before {
    content: "";
    display: block;
    background: #2f8200;
    position: absolute;
    height: 70px;
    width: 1px;
    top: -50px;
}

.scrolled {
    overflow: auto;
    height: 145px;
}

.preview__wrap {
    position: absolute;
    bottom: 40px;
    left: 115px;
}

.preview {
    display: flex;
}

.preview div {
    cursor: pointer;
    background: #000;

}

.preview div:not(:last-child) {
    margin-right: 30px;
}

.preview div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.preview div > img:hover, .preview div > img:focus {
    opacity: 0.8;
}


.slider__nav {
    padding: 25px;
    border: 2px solid #FFFFFF;
    background: transparent;
    position: absolute;
    bottom: 62px;
    cursor: pointer;
}

.slider__nav_left {
    left: 20px;
}

.slider__nav_right {
    right: 20px;
}


.slider__nav span, .slider__nav span:before, .slider__nav span:after {
    background: #FFFFFF;
    width: 20px;
    height: 2px;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 10px);
}


.slider__nav span:before {
    transform: rotate(40deg);
    content: "";
    display: block;
    left: -2px;
    top: 4px;

    width: 15px;
}

.slider__nav span:after {
    transform: rotate(-40deg);
    content: "";
    display: block;
    left: -2px;
    top: -5px;
    width: 16px;
}

.slider__nav_right span:before {
    transform: rotate(-40deg);
    left: 7px;
}

.slider__nav_right span:after {
    transform: rotate(40deg);
    left: 7px;
    width: 15px;

}

.slider__nav:hover, .slider__nav:focus {
    background: rgba(51, 153, 0, 0.38);
}

.popup__sidebar li, .preview div > img, .slider__nav, button {
    transition: 0.4s;
}

.sale {
    position: absolute;
    font-family: Rubic, sans-serif;
    right: 0;
    top: 0;
    background: #339900;
    color: #fff;
    padding: 25px 20px;
    font-weight: bold;
}


@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Rubic";
    src: url("../fonts/Rubik-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Rubic";
    src: url("../fonts/Rubik-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}


